Source: My platform
Section: utils
Priority: optional
Maintainer: "John Doe" <johndoe@gmail.com>
Homepage: my_website_url

Package: My platform
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: The official openx package
  My platform is a platform powered by openx
